.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 0;
  position: relative;
}

@media (min-width: 768px) {
  .nav-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.nav-container .nav-logo {
  width: 110px;
}

.nav-container .mobile-btn {
  background: transparent;
  border: none;
  outline: none;
  color: #bfbfbf;
  font-size: 30px;
}

@media (min-width: 768px) {
  .nav-container .mobile-btn {
    display: none;
  }
}

.nav-container .nav-menu-container {
  position: absolute;
  top: 5rem;
  background-color: #3b3054;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-radius: 7px;
  padding: 3rem 1.5rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

@media (orientation: landscape) {
  .nav-container .nav-menu-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 1.5rem;
  }
}

@media (min-width: 768px) {
  .nav-container .nav-menu-container {
    position: initial;
    background-color: transparent;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: none;
    padding: 0 1rem;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.nav-container .nav-menu-container .nav-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media (orientation: landscape) {
  .nav-container .nav-menu-container .nav-group {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 768px) {
  .nav-container .nav-menu-container .nav-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
  }
}

.nav-container .nav-menu-container .nav-menu::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #595959;
  margin: 0 0 2rem;
}

@media (orientation: landscape) {
  .nav-container .nav-menu-container .nav-menu::after {
    content: none;
  }
}

@media (min-width: 768px) {
  .nav-container .nav-menu-container .nav-menu::after {
    content: none;
  }
}

.nav-container .nav-menu-container .menu-link {
  background: transparent;
  color: #f6f6f6;
  border: none;
  outline: none;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.nav-container .nav-menu-container .menu-link:hover {
  color: #232127;
}

.nav-container .nav-menu-container .menu-link:focus {
  color: #232127;
}

@media (orientation: landscape) {
  .nav-container .nav-menu-container .menu-link {
    font-size: 16px;
  }
  .nav-container .nav-menu-container .menu-link:last-of-type {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .nav-container .nav-menu-container .menu-link {
    color: #9e9aa7;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0;
    margin-right: 1.5rem;
  }
}

@media (min-width: 1000px) {
  .nav-container .nav-menu-container .menu-link {
    font-size: 15px;
    margin-right: 2rem;
  }
}

.nav-container .nav-menu-container .btn-signUp {
  background-color: #2acfcf;
  color: #f6f6f6;
  border-radius: 50px;
  outline: none;
  border: none;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 0.9rem 0;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

@media (orientation: landscape) {
  .nav-container .nav-menu-container .btn-signUp {
    padding: 0.6rem 2rem;
  }
}

@media (min-width: 768px) {
  .nav-container .nav-menu-container .btn-signUp {
    font-weight: 500;
    font-size: 15.5px;
    padding: 0.45rem 1.1rem;
  }
}

@media (min-width: 1000px) {
  .nav-container .nav-menu-container .btn-signUp {
    padding: 0.5rem 1.2rem;
  }
}

.nav-container .nav-menu-container .btn-signUp:hover {
  background-color: #90e8e8;
}

.nav-container .nav-menu-container .btn-signUp:focus {
  background-color: #90e8e8;
}

.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 2rem 0 10rem;
}

@media (min-width: 768px) {
  .hero-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
    padding: 4rem 0 10rem;
  }
}

.hero-container img {
  width: 100%;
  margin-bottom: 2.5rem;
}

@media (orientation: landscape) {
  .hero-container img {
    width: 400px;
    margin-bottom: 3rem;
  }
}

@media (min-width: 768px) {
  .hero-container img {
    width: 350px;
  }
}

@media (min-width: 1000px) {
  .hero-container img {
    width: 400px;
  }
}

@media (min-width: 1200px) {
  .hero-container img {
    width: 560px;
  }
}

.hero-container .hero-text h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  color: #35323e;
}

@media (orientation: landscape) {
  .hero-container .hero-text h1 {
    font-size: 45px;
    width: 500px;
  }
}

@media (min-width: 1000px) {
  .hero-container .hero-text h1 {
    font-size: 51px;
    line-height: 1.1;
    width: 500px;
  }
}

.hero-container .hero-text p {
  color: #bfbfbf;
  line-height: 1.5;
  margin: 0.7rem 0 2rem;
}

@media (orientation: landscape) {
  .hero-container .hero-text p {
    font-size: 19px;
    width: 500px;
  }
}

@media (min-width: 1000px) {
  .hero-container .hero-text p {
    font-size: 19px;
    margin: 1rem 0 2rem;
    width: 500px;
  }
}

.features-container {
  padding-bottom: 7rem;
  position: relative;
}

@media (min-width: 1200px) {
  .features-container {
    padding-bottom: 10rem;
  }
}

.interactive-container-form {
  width: 100%;
  position: absolute;
  top: -100px;
}

@media (min-width: 768px) {
  .interactive-container-form {
    top: -80px;
  }
}

.interactive-container-form .form-container {
  background-color: #3b3054;
  height: 210px;
  background-image: url("../Assets/bg-boost-mobile.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.5rem;
  border-radius: 10px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media (min-width: 768px) {
  .interactive-container-form .form-container {
    height: 160px;
    background-image: url("../Assets/bg-boost-desktop.svg");
  }
}

.interactive-container-form .form-container form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .interactive-container-form .form-container form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.interactive-container-form .form-container form .form-group {
  width: 100%;
  position: relative;
}

@media (min-width: 768px) {
  .interactive-container-form .form-container form .form-group {
    width: 77%;
  }
}

@media (min-width: 1200px) {
  .interactive-container-form .form-container form .form-group {
    width: 80%;
  }
}

.interactive-container-form .form-container form .form-group .input {
  border-radius: 5px;
  outline: none;
  height: 55px;
  padding: 0 1rem;
  width: 100%;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.interactive-container-form .form-container form .form-group .input:focus {
  border: 3px solid #2acfcf;
}

.interactive-container-form .form-container form .form-group .input-normal {
  border: none;
}

.interactive-container-form .form-container form .form-group .input-error {
  border: 3px solid #f46262;
}

.interactive-container-form .form-container form .form-group p {
  position: absolute;
  color: #f46262;
  font-size: 14px;
  margin-top: 0.5rem;
}

.interactive-container-form .form-container form button {
  background-color: #2acfcf;
  color: #f6f6f6;
  font-weight: 700;
  letter-spacing: 1px;
  height: 47px;
  margin-top: 2.5rem;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.interactive-container-form .form-container form button:hover {
  background-color: #90e8e8;
}

.interactive-container-form .form-container form button:focus {
  background-color: #90e8e8;
}

@media (min-width: 768px) {
  .interactive-container-form .form-container form button {
    margin-top: 0;
    margin-left: 2rem;
    width: 23%;
    height: 55px;
  }
}

@media (min-width: 1200px) {
  .interactive-container-form .form-container form button {
    width: 15%;
  }
}

.interactive-shortend-links {
  padding-top: 10rem;
}

@media (min-width: 768px) {
  .interactive-shortend-links {
    padding-top: 7rem;
  }
}

@media (min-width: 1200px) {
  .interactive-shortend-links {
    padding-top: 6.5rem;
  }
}

.interactive-shortend-links .shortened-link-container {
  background-color: #f6f6f6;
  border-radius: 10px;
  margin-bottom: 1rem;
  position: relative;
  -webkit-animation: fadeIn 0.5s ease-in-out;
          animation: fadeIn 0.5s ease-in-out;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.interactive-shortend-links .shortened-link-container:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .interactive-shortend-links .shortened-link-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.interactive-shortend-links .shortened-link-container h6 {
  color: #35323e;
  font-size: 14px;
  padding: 1rem 3rem 1rem 1rem;
  word-wrap: break-word;
}

@media (min-width: 768px) {
  .interactive-shortend-links .shortened-link-container h6 {
    font-size: 15px;
    padding: 1rem;
  }
}

@media (min-width: 1200px) {
  .interactive-shortend-links .shortened-link-container h6 {
    font-size: 15.5px;
    padding: 1rem;
  }
}

.interactive-shortend-links .shortened-link-container .delete-btn {
  background: transparent;
  color: #bfbfbf;
  border: none;
  outline: none;
  font-size: 20px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.interactive-shortend-links .shortened-link-container .delete-btn:hover {
  color: #f46262;
}

.interactive-shortend-links .shortened-link-container .delete-btn:focus {
  color: #f46262;
}

@media (min-width: 768px) {
  .interactive-shortend-links .shortened-link-container .delete-btn {
    font-size: 25px;
    top: 22px;
    right: 10px;
  }
}

.interactive-shortend-links .shortened-link-container .shortened-link-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  border-top: 1.5px solid #bfbfbf;
}

@media (min-width: 768px) {
  .interactive-shortend-links .shortened-link-container .shortened-link-details {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: none;
    margin-right: 2rem;
  }
}

.interactive-shortend-links .shortened-link-container .shortened-link-details p {
  color: #2acfcf;
  font-size: 14px;
}

@media (min-width: 768px) {
  .interactive-shortend-links .shortened-link-container .shortened-link-details p {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  .interactive-shortend-links .shortened-link-container .shortened-link-details p {
    font-size: 15.5px;
  }
}

.interactive-shortend-links .shortened-link-container .shortened-link-details .copy-btn {
  color: #f6f6f6;
  font-size: 16px;
  margin-top: 1rem;
  padding: 0.6rem 0;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

@media (min-width: 768px) {
  .interactive-shortend-links .shortened-link-container .shortened-link-details .copy-btn {
    margin-top: 0;
    margin-left: 1rem;
    padding: 0.5rem 2rem;
  }
}

.interactive-shortend-links .shortened-link-container .shortened-link-details .not-copied-btn {
  background-color: #2acfcf;
}

.interactive-shortend-links .shortened-link-container .shortened-link-details .not-copied-btn:hover {
  background-color: #90e8e8;
}

.interactive-shortend-links .shortened-link-container .shortened-link-details .not-copied-btn:focus {
  background-color: #90e8e8;
}

.interactive-shortend-links .shortened-link-container .shortened-link-details .copied-btn {
  background-color: #232127;
}

.interactive-shortend-links .shortened-link-container .shortened-link-details .copied-btn:hover {
  background-color: #615b6c;
}

.interactive-shortend-links .shortened-link-container .shortened-link-details .copied-btn:focus {
  background-color: #615b6c;
}

.statistics-container {
  margin-top: 7rem;
}

@media (min-width: 1200px) {
  .statistics-container {
    margin-top: 9rem;
  }
}

.statistics-container .statistics-title {
  text-align: center;
}

.statistics-container .statistics-title h3 {
  color: #35323e;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .statistics-container .statistics-title h3 {
    font-size: 35px;
  }
}

@media (min-width: 1000px) {
  .statistics-container .statistics-title h3 {
    font-size: 38px;
  }
}

.statistics-container .statistics-title p {
  color: #b2b2b2;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .statistics-container .statistics-title p {
    width: 500px;
    margin: 0 auto;
  }
}

@media (min-width: 1000px) {
  .statistics-container .statistics-title p {
    font-size: 19px;
  }
}

.statistics-container .statistics-card-container {
  margin-top: 7rem;
}

@media (min-width: 1200px) {
  .statistics-container .statistics-card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.statistics-container .statistics-card-container .statistics-card {
  position: relative;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 400px;
  margin: 0 auto 5rem;
  padding: 1rem 2rem 2rem;
  border-radius: 7px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.statistics-container .statistics-card-container .statistics-card:after {
  content: "";
  height: 80px;
  width: 5px;
  background-color: #2acfcf;
  position: absolute;
  top: 100%;
}

.statistics-container .statistics-card-container .statistics-card:last-of-type {
  margin-bottom: 0;
}

.statistics-container .statistics-card-container .statistics-card:last-of-type:after {
  content: none;
}

@media (min-width: 1200px) {
  .statistics-container .statistics-card-container .statistics-card {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    max-width: 350px;
    height: 220px;
    margin: 0 auto;
  }
  .statistics-container .statistics-card-container .statistics-card:after {
    content: "";
    height: 5px;
    width: 80px;
    background-color: #2acfcf;
    position: absolute;
    top: 50%;
    left: 100%;
  }
  .statistics-container .statistics-card-container .statistics-card:nth-child(even) {
    margin-top: 3rem;
  }
  .statistics-container .statistics-card-container .statistics-card:last-of-type {
    margin-top: 6rem;
    margin-bottom: 0;
  }
  .statistics-container .statistics-card-container .statistics-card:last-of-type:after {
    content: none;
  }
}

.statistics-container .statistics-card-container .statistics-card .stats-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3b3054;
  margin-top: -50px;
  padding: 1rem;
  border-radius: 50%;
}

.statistics-container .statistics-card-container .statistics-card .stats-img-container img {
  width: 40px;
}

@media (min-width: 1200px) {
  .statistics-container .statistics-card-container .statistics-card .stats-img-container img {
    width: 35px;
  }
}

.statistics-container .statistics-card-container .statistics-card h5 {
  color: #35323e;
  font-weight: 700;
  font-size: 21px;
  margin: 1.5rem 0 1rem;
}

.statistics-container .statistics-card-container .statistics-card p {
  color: #b2b2b2;
  font-size: 16px;
}

.boost-container {
  height: 250px;
  background-color: #3b3054;
  background-image: url("../Assets/bg-boost-mobile.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (min-width: 768px) {
  .boost-container {
    background-image: url("../Assets/bg-boost-desktop.svg");
  }
}

.boost-container h2 {
  color: #f6f6f6;
  font-weight: 700;
  font-size: 27px;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .boost-container h2 {
    font-size: 35px;
    letter-spacing: 2px;
  }
}

.footer-container {
  text-align: center;
  padding: 3rem 0;
}

@media (min-width: 768px) {
  .footer-container {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 4rem 0 2.5rem;
  }
}

@media (min-width: 1200px) {
  .footer-container {
    padding: 4.5rem 0 3rem;
  }
}

.footer-container .logo-footer {
  width: 110px;
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(231deg) brightness(102%) contrast(103%);
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(231deg) brightness(102%) contrast(103%);
}

@media (min-width: 1000px) {
  .footer-container .logo-footer {
    width: 120px;
  }
}

@media (min-width: 768px) {
  .footer-container .footer-links-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-container .footer-links-container .footer-links-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.footer-container .footer-links-container .footer-links-group:first-of-type {
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .footer-container .footer-links-container .footer-links-group {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 2rem 0 0;
  }
  .footer-container .footer-links-container .footer-links-group:first-of-type {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .footer-container .footer-links-container .footer-links-group {
    margin: 0 6rem 0 0;
  }
}

.footer-container .footer-links-container .footer-links-group h6 {
  font-size: 16px;
  margin-bottom: 1rem;
}

.footer-container .footer-links-container .footer-links-group button {
  background: transparent;
  color: #bfbfbf;
  border: none;
  outline: none;
  font-size: 15px;
  margin-bottom: 0.6rem;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.footer-container .footer-links-container .footer-links-group button:hover {
  color: #2acfcf;
}

.footer-container .footer-links-container .footer-links-group button:focus {
  color: #2acfcf;
}

@media (min-width: 768px) {
  .footer-container .footer-links-container .footer-links-group button {
    font-size: 14px;
    margin-bottom: 0.7rem;
  }
}

.footer-container .footer-links-container .footer-social-container a {
  color: #f6f6f6;
  font-size: 22px;
  margin-right: 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.footer-container .footer-links-container .footer-social-container a:last-of-type {
  margin-right: 0;
}

.footer-container .footer-links-container .footer-social-container a:hover {
  color: #2acfcf;
}

.footer-container .footer-links-container .footer-social-container a:focus {
  color: #2acfcf;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
}

main {
  background-color: #f0f1f6;
}

footer {
  background-color: #232127;
  color: #f6f6f6;
}

.section-width {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.btn-round-border {
  background-color: #2acfcf;
  color: #f6f6f6;
  border: none;
  border-radius: 50px;
  outline: none;
  height: 45px;
  width: 165px;
  font-size: 15.5px;
  font-weight: 700;
  letter-spacing: 0.6px;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.btn-round-border:hover,
.btn-round-border:focus {
  background-color: #90e8e8;
}

@media (min-width: 1000px) {
  .btn-round-border {
    height: 50px;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */